/* Navbar Styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(135deg, #1d2028 0%, #383c48 100%);
    padding: 15px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo img {
    height: 50px; /* Adjust according to your logo size */
    margin-right: 15px;
  }
  
  .navbar-logo h1 {
    color: #ffffff;
    font-size: 28px;
    margin: 0;
    font-weight: 700;
  }
  
  .navbar-search {
    display: flex;
    align-items: center;
  }
  
  .navbar-search input {
    padding: 8px 10px;
    border: 2px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .navbar-search input:focus {
    border-color: #ffa500;
  }
  
  .navbar-search button {
    padding: 8px 15px;
    border: none;
    background-color: #ffa500;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navbar-search button:hover {
    background-color: #ff7f00;
  }
  
  .navbar-links {
    display: flex;
    align-items: center;
  }
  
  .navbar-links a {
    color: #ffffff;
    margin-left: 25px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: #ffa500;
  }
  
  .navbar-links .navbar-helpline {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  
  .navbar-links i {
    margin-right: 8px;
  }
  
  .navbar-links a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 50%;
    background-color: #ffa500;
    transition: width 0.3s ease, left 0.3s ease;
  }
  
  .navbar-links a:hover::before {
    width: 100%;
    left: 0;
  }
  